html {height: 100%}
body {height: 100%; margin: 0; text-align: left; color: #000; font-family: calibri, helvetica, trebuchet, trebuchet ms, sans serif; background-color: #FFF}

#all_wrapper {position: relative; min-height: 100%; padding-bottom: 94px}

#header {position: relative; width: 100%; height: 245px; text-align: center; background: #FFF url(../images/header_bg.jpg) repeat-x top left}
#header_left {position: absolute; top: 0px; left: 0px; width: 255px; height: 230px; background: transparent url(../images/header_left.jpg) no-repeat top left}
#header_right {position: absolute; top: 0px; right: 0px; width: 500px; height: 230px; background: transparent url(../images/header_right.jpg) no-repeat top right}
#header_slogan {position: absolute; top: 125px; left: 280px; font-family: Bookman Old Style, Times New Roman, Garamond, serif; color: #FFF; font-style: italic; font-weight: 700; font-size: 20px}

#nav_wrapper {position: relative; top: 200px; margin: 0px auto; width: 960px; height: 45px }
#nav_bar_left {position: absolute; top: 0px; left: 0px; width: 25px; height: 45px; background: transparent url(../images/nav_bar_left.png) no-repeat top left}
#nav_bar_center { margin: 0; padding: 0; position: absolute; top: 0px; left: 25px; width: 910px; height: 45px; background: transparent url(../images/nav_bar_center.png) repeat-x top left}
#nav_bar_right {position: absolute; top: 0px; right: 0px; width: 25px; height: 45px; background: transparent url(../images/nav_bar_right.png) no-repeat top right}
.nav_button, .nav_active, .first_nav_button { display: block; position: relative;  height: 35px; padding: 10px 20px 0; margin: 0 2px 0 0; color: #777; font-size: 20px; font-weight: 700; text-align: center; background: transparent url(../images/nav_button_active.png) no-repeat top left; cursor: pointer; float: left; display: block}
.nav_button:hover, .nav_active:hover, .first_nav_button:hover {color: #555; background: transparent url(../images/nav_button_hover.png) no-repeat top left}
.first_nav_button {margin-left: 20px}

#main_container {position: relative; top: 20px; width: 974px; margin: 0px auto}
#welcome_wrapper {position: relative; width: 100%; height: 220px}
#welcome_message {position: absolute; top: 0px; left: 0px; width: 645px; height: 210px; background: transparent url(../images/welcome_msg.gif) no-repeat top left}
#login_box {position: absolute; top: 0px; right: 0px; width: 318px; height: 158px; background-color: #FFE4B4; border: solid 1px #FFBF79}
#welcome_helper {position: absolute; top: 100px; left: 575px; width: 120px; height: 110px; background: transparent url(../images/friendly_helper.png)}

.featured_item {position: relative; margin-bottom: 12px; width: 100%; height: 200px}
.featured_image {position: absolute; top: 0px; left: 0px; width: 300px; height: 100%; background-color: #EEE; border: solid 1px #CCC}
.featured_copy {position: absolute; top: 0px; right: 0px; width: 620px; height: 130px; padding: 35px 20px; text-align: left; font-weight: 700; font-size: 16pt; color: #333; border: solid 1px #CCC; overflow: auto}

#footer {position: absolute; bottom: 0px; left: 0px; width: 100%; height: 47px; padding-top: 23px; color: #FFF; font-weight: 700; font-size: 18px; text-align: center; background-color: #F47504}

.nav_button a:link {text-decoration: none; color: #777; font-weight: 700}
.nav_button a:visited {text-decoration: none; color: #777; font-weight: 700}
.nav_button a:hover {text-decoration: none; color: #555; font-weight: 700}
.nav_button a:active {text-decoration: none; color: #777; font-weight: 700}

a:link {text-decoration: none; color: #FE8600; font-weight: 700}
a:visited {text-decoration: none; color: #FE8600; font-weight: 700}
a:hover {text-decoration: none; color: #F03900; font-weight: 700}
a:active {text-decoration: none; color: #FE8600; font-weight: 700}


a.play-button  {
    float: right; background: #FE8600; color: #fff; padding: 5px 10px; font-size: 16px; border-radius: 6px;
}
.play-button  {
    background: #FE8600; color: #fff; padding: 5px 10px; font-size: 16px; border-radius: 6px;
}
.play-button:hover {
    background: #febf79;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

h2 {
    font-size: 24px; font-weight: bold; border-bottom: 2px solid #ccc; overflow: hidden;
}


/*body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}



div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}*/
